.input-menu
{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  padding: 2rem;
}




.signup-field, .login-field
{
  min-height: 100vh;
  display: grid;
  place-content: center;
  
}
.signup-form, .login-form
{
  position:relative;
  display: flex;
  border: 2px solid grey;
  border-radius: 1rem;
  flex-direction: column;
  
  input
  {
    margin: 0 auto;
    width: 55%;
    max-width: 400px;
  
  }

  button
  {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }


}
  .status-message
{
  position:absolute;
  bottom: 0;
  left: 0;
  width:100%;
  text-align: center;
  margin:0;
}


